<section class="section">
  <div class="container is-max-desktop">
    <div class="fixed-grid has-1-cols">
      <div class="grid">
        <div class="cell">
          <h1 class="title is-1 mb-6">Users</h1>
        </div>
        <div class="cell">
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Favourite Dog Breed Count</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user.name.titleize, user_path(user), class: "has-text-link" %>
                  </td>
                  <td>
                    <%= user.breeds.count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="cell">
          <nav class="pagination is-centered is-small mt-6" aria-label="pagination">
            <div class="pagination-list">
              <%= paginate @users %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
